export(simmap.mean, simulation.data, sfreemap.diff
        , sfreemap.test.boxplot, sfreemap.test.perf
        , create_trees, sfreemap.reduce
        , simmap.calc_simulations_evolution)

importFrom(sfreemap, sfreemap, sfreemap.pruning)
importFrom(sfreemapr, sfreemapr.map)
importFrom(ape, ace, plot.phylo, all.equal.phylo)
importFrom(ape, read.tree, reorder.phylo, write.tree)
importFrom(phytools, countSimmap, pbtree, make.simmap, sim.history)
importFrom(parallel, mclapply, detectCores)
importFrom(graphics, pairs)

importFrom(ggplot2, ggplot, scale_alpha_discrete, scale_fill_discrete, aes
                  , geom_bar, ggtitle, theme, element_text, xlab, ylab
                  , scale_x_continuous, aes_string, geom_histogram)
