export(simmap.mean, simulation.data, sfreemap.diff
        , sfreemap.test.boxplot, sfreemap.test.perf
        , create_trees, simmap.mean_tree)

importFrom(sfreemap, sfreemap.describe, sfreemap.map)
importFrom(ape, ace, plot.phylo)
importFrom(ape, read.tree, reorder.phylo, write.tree)
importFrom(phytools, countSimmap, pbtree, make.simmap, sim.history)
importFrom(parallel, detectCores)
